<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>emp welcome</title>
</head>
<body>
    <h1>welcome {{emp.name}}</h1>
    <form style="text-align:center" action="/postjobs/" method='post' >
        <button name="postbtn" type="submit">Post a job</button>
    </form>
   <br><br>
    <form style="text-align:center" action="/emp/signout">
        <button>logout</button>
        </form>
</body>
</html>