<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Index page </title>
    <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>JOB Search Web App</h1>
    <form action="/emp/" method="post">
        <button name="forwardemp" type="submit">Employer</button>
    </form>

    <form action="/jobseeker/" method="post">
        <button name="forwardjobseeker" type="submit">Job Seeker</button>
    </form>
</body>
</html>